.u-section-1 .u-sheet-1 {
  min-height: 316px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 4px auto 60px;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}